// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'partials/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Header
@import 'partials/header';


/*/ start count stats /*/ 

section#counter-stats {
	display: flex;
	justify-content: center;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;

}


/*/ end count stats /*/
