// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "partials/variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";

//Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

// Rules
@import "partials/rules";

// Header
@import "partials/header";

// HomePage
@import "partials/homepage";

// Dashboard
@import "partials/dashboard";

// Messages
@import "partials/messages";

// Reviews
@import "partials/reviews";

// Edit
@import "partials/edit";

// Sponsors
@import "partials/sponsors";

// forms
@import "partials/forms";

// Footer
@import "partials/footer";


.fa-star{
color :#d6d622c2;
}

.icon-show{
    color: $bgreen;
    font-size: 1.30rem;

}

.btn-show{
    background-color: $bgreen;
}

.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.bootstrap-select{
    width: 300px !important;
}
