.site_footer{
    background-color: #45BB67;

    .social_icons{
        a{
            text-decoration: none;
            color: white;

            i{
                font-size: 2rem;
            }
        }
    }
}